:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 26, 26, 26;
  --background-start-rgb: 221, 232, 255;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #00b0ff33 0deg,
    #1de9b633 55deg,
    #00e67633 120deg,
    #76ff0333 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 236, 244, 255;
  --tile-end-rgb: 221, 232, 255;
  --tile-border: conic-gradient(
    #ffffff80,
    #ffffff40,
    #ffffff30,
    #ffffff20,
    #ffffff10,
    #ffffff10,
    #ffffff80
  );

  --callout-rgb: 241, 245, 248;
  --callout-border-rgb: 187, 194, 199;
  --card-rgb: 255, 255, 255;
  --card-border-rgb: 187, 194, 199;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 21, 32, 43;
    --background-end-rgb: 36, 59, 85;

    --primary-glow: radial-gradient(rgba(0, 53, 96, 0.4), rgba(0, 53, 96, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(0, 53, 96, 0),
      rgba(0, 53, 96, 0),
      rgba(0, 53, 96, 0.3)
    );

    --tile-start-rgb: 17, 31, 43;
    --tile-end-rgb: 10, 19, 27;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 43, 57, 73;
    --callout-border-rgb: 84, 110, 122;
    --card-rgb: 33, 47, 61;
    --card-border-rgb: 59, 83, 105;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, #f6f9fc, #e9f1f7);
}

a {
  color: #0077b6;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Primary Glow */
:root {
  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #5eb5f7 0deg,
    #3487d5 55deg,
    #7ad9ff 120deg,
    #0062ac 160deg,
    transparent 360deg
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-glow: radial-gradient(
      rgba(94, 181, 247, 0.4),
      rgba(94, 181, 247, 0)
    );
  }
}

/* Secondary Glow */
:root {
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.3)
    );
  }
}

/* Tile */
:root {
  --tile-start-rgb: 230, 244, 255;
  --tile-end-rgb: 224, 238, 255;
  --tile-border: conic-gradient(
    #a4b4c4,
    #8e9baf,
    #6b7082,
    #4e5461,
    #343b47,
    #343b47,
    #a4b4c4
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --tile-start-rgb: 20, 29, 37;
    --tile-end-rgb: 10, 14, 18;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );
  }
}

/* Callout */
:root {
  --callout-rgb: 242, 245, 248;
  --callout-border-rgb: 175, 188, 200;
}

@media (prefers-color-scheme: dark) {
  :root {
    --callout-rgb: 40, 44, 52;
    --callout-border-rgb: 108, 117, 125;
  }
}

/* Card */
:root {
  --card-rgb: 255, 255, 255;
  --card-border-rgb: 175, 188, 200;
}

@media (prefers-color-scheme: dark) {
  :root {
    --card-rgb: 26, 32, 44;
    --card-border-rgb: 80, 88, 100;
  }
}
